
<h1>send</h1>

<div class="card card-body">
  <h3> port </h3>
  <form action="/ideas" method="POST">
    <div class="form-group">
      <label for="title">in</label>
      <input type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
      <label for="details">out</label>
      <textarea class="form-control" name="details" required></textarea>
    </div>
    <button type="submit" class="btn btn-primar">send</button>
  </form>
</div>