<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img src="/img/light.png" alt="light" width="50" height="50" class="mx-auto" srcset="">
      <h3 class="text-center">reg</h3>
      <form method="POST" action="/users/register">
        <div class="form-group">
          <label for="name">name</label>
          <input type="text" name="name" class="form-control" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="email">em</label>
          <input type="email" name="email" class="form-control" value="{{email}}" required>
        </div>
        <div class="form-group">
          <label for="password">pass</label>
          <input type="password" name="password" class="form-control" value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="passwordconfirm">pass</label>
          <input type="password" name="passwordconfirm" class="form-control" value="{{passwordconfirm}}" required>
        </div>
        <button type="submit" class="btn btn-primary">sub</button>
      </form>
    </div>
  </div>
</div>